<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345256923907-9mf5eqbmjvi2ocfspu08dv4hmptaoveq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345256923907-9mf5eqbmjvi2ocfspu08dv4hmptaoveq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>345256923907-gt14j25g2pek13nvpisqel7rbcp3o1pt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvbd3k4qMEOYR5_mrBh4FzvBtmTW3tsTU</string>
	<key>GCM_SENDER_ID</key>
	<string>345256923907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almaraa.newTurki</string>
	<key>PROJECT_ID</key>
	<string>new-turki</string>
	<key>STORAGE_BUCKET</key>
	<string>new-turki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345256923907:ios:3ceaefabeacdb83edbcf36</string>
</dict>
</plist>